.container-abas {
  display: flex;
  background: #f7f9fa;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.container-abas div:first-child {
  border-right: 1px solid #dae5f0;
}

.container-abas div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
