.container-sobre {
  margin: 0 20px;
  text-align: left;
  div {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 40px;
    color: #162668;
    svg {
      margin-right: 13px;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      color: #263238;
    }
  }
}
