.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 274px;
  margin: auto;
}

.main-section h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 22px;
  margin: 37px;
  text-align: center;
  color: #000000;
}

.main-section input {
  margin: 19px 0;
  font-family: Montserrat;
  font-size: 15px;
  padding: 6px;
  border: 1px solid #90a4ae;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.main-section .btn {
  padding: 14px 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: white;
  border: none;
  border-radius: 4px;
  width: 125px;
  height: 50px;
}

.main-section .ver-todos {
  background: #344fa5;
}

.main-section .buscar {
  background: #6FCF97;
}

.main-section .btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
